<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/navbar'); %>
	
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>Hi <%= user.fullName %> </h2>
				<img src="/images/avatars/<%= user.avatar %> ">
				<br>
				<br>
				<div class="alert alert-success"><%= user.email %> </div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('partials/footer'); %>
</body>
</html>